body {
  background:linear-gradient(120deg, #1db954, #191414);
}

#jumbotron {
  background-image: url("../images/jumbotron_img.png");
  text-align: center;
  color: rgb(255, 255, 255);
  
}

.bg-color {
  background: #1a1a1aaf;
  color:rgb(255, 255, 255)
}

#gauge {
  position: relative;
}

#gauge-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, red,yellow, green);
  background-repeat: no-repeat;
  background-size: cover;
  
}

#gauge-percent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  height: 100%;
  width: 100%;
  background-image: url("../images/black_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}

@keyframes easeOutBounce {
  from {
    background-position-x: 0%;
  }

  to {
    background-position-x: -100%;
  }
}

#gauge-percent:hover {
  background-position-x: -75%;
  transition: background-position-x 700ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  
}