<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>

<body>
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav1"
                    aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Navbar</a>
            </div>
            <div class="collapse navbar-collapse" aria-expanded="false" id="nav1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#anchor1">Nav Part 1</a>
                    </li>
                    <li>
                        <a href="#anchor2">Nav Part 2</a>
                    </li>
                    <li>
                        <a href="#anchor3">Nav Part 3</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" id="main">
        <div class="row">
            <div class="col-md-12 col-xs-12 jumbotron text-center">
                <h1>Final Project</h1>
                <p>Predicting "Hits" on Spotify</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <form class="bg-dark" id="filter-form">
                        <p>Filter Search</p>
                        <ul class="list-group bg-dark">
                            <li class="list-group-item bg-dark">
                                <label for="acousticnessId">Enter Acousticness</label>
                                <input type="text" placeholder="0.###" id="acousticnessId" />
                            </li>
                            <li class="list-group-item bg-dark">
                                <label for="danceabilityId">Enter Danceability</label>
                                <input type="text" placeholder="0.###" id="danceabilityId" />
                            </li>
                            <li class="list-group-item bg-dark">
                                <label for="energyId">Enter Energy</label>
                                <input type="text" placeholder="0.###" id="energyId" />
                            </li>
                            <li class="list-group-item bg-dark">
                                <label for="instrumentalnessId">Enter Instrumentalness</label>
                                <input type="text" placeholder="0.###" id="instrumentalnessId" />
                            </li>
                            <li class="list-group-item bg-dark">
                                <label for="livenessId">Enter Liveness</label>
                                <input type="text" placeholder="0.###" id="livenessId" />
                            </li>
                            <li class="list-group-item bg-dark">
                                <label for="loudnessId">Enter Loudness</label>
                                <input type="text" placeholder="-#.###" id="loudnessId" />
                            </li>
                            <li class="list-group-item bg-dark">
                                <label for="speechinessId">Enter Speechiness</label>
                                <input type="text" placeholder="0.0###" id="speechinessId" />
                            </li>
                            <li class="list-group-item bg-dark">
                                <label for="tempoId">Enter Tempo</label>
                                <input type="text" placeholder="###.###" id="tempoId" />
                            </li>
                            <li class="list-group-item bg-dark">
                                <label for="valenceId">Enter Valence</label>
                                <input type="text" placeholder="0.###" id="valenceId" />
                            </li>
                        </ul>
                    </form>
                </div>
</body>

</html>